<header class="sub-header">
    <div class="base">
      <div class="list">
      <ul>
        <li><a href="/mains">Top</a></li>
        <li><a href="/hiromu">Hiromu</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/access">Access</a></li>
      </ul>
      </div>
    </div>
</header>
<div class="gallery-top">
  <div class="text-box">
    <p>ギャラリー</p>
    <h2>バジャウ族の日常<br>写真を見る</h2>
  </div>
</div>

<div class="gallery-main">
  <%= render partial: "item"%>
  
</div>
<%# <%= paginate @gallerys, remote: true %>
<div class="scroll-top-gallery">
     <img src="assets/icon_arrow_41547-300x300.png">
</div>