<header class="sub-header">
    <div class="base">
      <div class="list">
      <ul>
        <li><a href="/mains">Top</a></li>
        <li><a href="/hiromu">Hiromu</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/access">Access</a></li>
      </ul>
      </div>
    </div>
</header>
<div class="tour-top">
  <div class="text-box">
    <p>バジャウ族ツアー</p>
    <h2>日本では味わえない<br>非日常の体験を</h2>
  </div>
</div>
<div class="tour-choice">
  <div class="tour-choice1 choice1">
    <img src="assets/61680384_304674137103597_8257508272228007936_n.jpg">
    <p>無人島ツアーを見る</p>
  </div>
  <div class="tour-choice1 choice2">
    <img src="assets/DQBrYZIVoAA3bIf.jpg">
    <P>ウニ獲りツアーを見る</p>
  </div>
</div>
<div class="image-content tour1"></div>
<div class="image-content tour2"></div>
<div class="image-content tour3"></div>
<div class="tour-island">
  <h1>無人島ツアー</h1>
 <div class="about-tour">
  <div class="content-1">
    <p class="tour-img">
      <img src="assets/61704769_748903212171432_3361366071570333696_n.jpg">
    </p>
    <div class="text-content">
      <h2>バジャウ族の船で無人島へ</h2>
      <p>無人島ツアーはではバジャウ族の小舟に乗り込み無人島を目指します。<br>無人島への所要時間はおよそ2時間で、到着までは各自自由時間です。<br>酒を飲むのもよし、写真を撮るのもよし、船に揺られ一眠りするのもよし。<br>各自で好きなようにお過ごしください。<br>（船の上は波の影響で濡れることがありますので貴重品を守るためにも<br>防水のカバンなどを持参することをお勧めします。）</p>
    </div>
  </div>
  <div class="content-2">
    <p class="tour-img2">
      <img src="assets/DCixqraVYAAuYcs.jpg">
    </p>
    <div class="text-content2">
      <h2>目的地は幻の無人島</h2>
      <p>このツアーの目的地の無人島は<br>潮の満ち引きにより1日に数時間だけ現れる幻の島です。<br>島と言うよりは360度を海に囲まれた砂浜と言った方が<br>イメージがしやすいかもしれません。<br>透明度の高い海と真っ白な砂浜に癒されること間違いなしです。</p>
    </div>
  </div>
  <div class="content-3">
    <p class="tour-img3">
      <img src="assets/DCixqrYVwAAb-LY.jpg">
    </p>
    <div class="text-content3">
      <h2>皆で食べる絶品ごはん</h2>
      <p>バジャウ族は傘の骨を改造してモリを作り、魚を獲ることができます。<br>傘の骨を使って魚を獲る光景は日本ではまず見られない光景です。<br>そんな彼らが捕まえた魚や貝、市場で買った肉や野菜などを使って<br>作ってくれるごはんは絶品です。<br></p>
    </div>
  </div>
</div>
</div>
<div class="image-content tour4"></div>
<div class="image-content tour5"></div>
<div class="image-content tour6"></div>
<div class="tour-uni">
  <h1>ウニ獲りツアー</h1>
<div class="about-tour">
  <div class="content-1">
    <p class="tour-img">
      <img src="assets/20190518162042.jpg">
    </p>
    <div class="text-content">
      <h2>船ですぐの近くの海へ</h2>
      <p>ウニ獲りツアーの目的地までは船で約1時間。<br>近場の海なので無人島ツアーに比べて気軽に行くことができます。<br>無人島周辺ほどでは無いもののウニ獲りツアーで行く海も<br>透明度の高い綺麗な海です。日本に比べて紫外線がかなり強いので<br>気になる方は日焼け止めを持参しましょう。</p>
    </div>
  </div>
  <div class="content-2">
    <p class="tour-img2">
      <img src="assets/DVRfTcSUQAAxf9L.jpg">
    </p>
    <div class="text-content2">
      <h2>大量のウニを取り放題</h2>
      <p>目的地に着いたら好きなだけウニを獲りましょう。<br>浅場の海なので、泳ぐのが苦手な人でも心配ありません<br>獲れるウニは黒くてトゲの長い「ガンガゼ」と<br>トゲが短くカラフルな色の「シラヒゲウニ」です。<br>シラヒゲウニは素手で触っても大丈夫ですが<br>ガンガゼはトゲが危ないので網と棒を使って獲るようにしましょう。</p>
    </div>
  </div>
  <div class="content-3">
    <p class="tour-img3">
      <img src="assets/Dn3outOVAAEkfjG (1).jpg">
    </p>
    <div class="text-content3">
      <h2>獲れたてのウニをその場で食べる</h2>
      <p>獲ったウニはその場で開いて食べることができます。<br>ウニには当たり外れがあり中身がぎっしり詰まっているものもあれば<br>スカスカで食べる場所が少ないものもあります。<br>中身がどの位詰まっているかは明けてからのお楽しみです。<br>獲れたての新鮮なウニはとても美味しいです。<br>海の中には数えきれないほどのウニがいるので<br>好きだけ食べて大丈夫です。</p>
    </div>
  </div>
</div>
</div>
<div class="image-content tour7"></div>
<div class="image-content tour8"></div>
<div class="image-content tour9"></div>
<div class="scroll-top">
     <img src="assets/icon_arrow_41547-300x300.png">
</div>