<header class="sub-header">
    <div class="base">
      <div class="list">
      <ul>
        <li><a href="/mains">Top</a></li>
        <li><a href="/hiromu">Hiromu</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/access">Access</a></li>
      </ul>
      </div>
    </div>
</header>
<div class="access-top">
  <div class="text-box">
    <p>アクセス</p>
    <h2>村に遊びに行く<br>連絡する</h2>
  </div>
</div>
<div class="access-main">
  <div class="please">
    <h2>村を訪れる人へのお願い</h2>
    <p>連絡無しに村を訪れた場合、松田大夢が村にいないことがあります。<br>ですので、村に来る際はあらかじめ連絡をしていただくようにお願いします。<br>連絡は、FacebookかTwitterのメッセージにてお願いします。<br><span>(右側のアイコンをクリックするとそれぞれのアカウントページに移動します)</span><br>また、連絡を返し忘れることがよくあるので、返信がこない場合は再度メッセージを送って頂ければと思います。</p>
  </div>
    <div class="badjao-house">
        <p>
        <img src="assets/bajau_location.jpg">
        <img src="assets/Dx-VmF1UcAAam9a">
        </p>
        <div class="text-content">
          <h2>バジャウ族の村の場所</h2>
          <p>バジャウ族の村はセブ市内の南に位置するマンバリン地区にあります。<br>村の近くにはSMシーサイドモールというショッピングモールがあります。<br>このショピングモールはアジア最大級の大きさで<br>しゃぶしゃぶやたこ焼きなどの日本食レストランも数店舗あるので<br>村に遊びに来た帰りなどに行ってみるのもオススメです。<br>詳しい位置関係はマップの画像をご覧ください。</p>
        </div>
    </div>
    <div class="about-access">
        <div class="content-1">
          <p>
            <img src="assets/img_2386946c557d896b5f865ce09203fd92289bf56b_middle">
          </p>
        <div class="text-content1">
          <h2>STEP1</h2>
          <p>まずはバジャウ族の村のすぐそばにあるスーパーマーケットの<br>ガイサノアヤライに向かいましょう。<br>タクシーで行くのが簡単で、運転手にガイサノアヤライと伝えると<br>連れて行ってくれます。<br>フィリピンのタクシーはメーターを使わずにぼったくってくることがあるので<br>メーターを回しているかの確認を忘れないようにしましょう。</p>
        </div>
        </div>
        <div class="content-2">
          <p class="access-img2">
            <img src="assets/bajau001.jpg">
          </p>
        <div class="text-content2">
          <h2>STEP2</h2>
          <p>ガイサノアヤライに到着したら次はトライシクルに乗りましょう。<br>トライシクルはサイドカー付きの自転車のようなものです<br>運転手に「Naba, Badjaowan（ナバ、バッジャオワン）」<br>と伝えると村の入り口まで運んでくれます。<br></p>
        </div>
        </div>
        <div class="content-3">
          <p>
            <img src="assets/bajau015.jpg">
          </p>
        
        <div class="text-content3">
          <h2>STEP3</h2>
          <p>村の入り口まで到着したらあとは中に入るだけですね<br>村の中にいる人に「Where is Hiro?」と伝えればOKです。<br>村の道は細い木で作られていて不安定なので気をつけて進みましょう。</p>
        </div>
        </div>
    </div>
</div>
<div class="facebook">
  <a href="https://www.facebook.com/profile.php?id=100003064773932&epa=SEARCH_BOX"><img src="assets/ダウンロード.png"></a>
</div>
<div class="twitter">
  <a href="https://twitter.com/chilichilihot"><img src="assets/246x0w.png"></a>
</div>
<div class="scroll-top">
     <img src="assets/icon_arrow_41547-300x300.png">
</div>