<img class="top-img" src="assets/Dw53HqzU0AABww0">
  <header>
    <div class="base">
      <div class="list">
      <ul>
        <li><a href="/mains">Top</a></li>
        <li><a href="/hiromu">Hiromu</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/access">Access</a></li>
      </ul>
      </div>
    </div>
  </header>
<div class="top-content">
  <h2>バジャウ族とは</h2>
  <p>バジャウ族は元々水上で生活する民族で漁業を仕事として生きる海の民族でした。<br>元々はインドネシアやフィリピンの下の方からやってきて魚を捕ってそれを売って自分たちの生活を支えていました。<br>しかし、都市開発が進むにつれて海の汚染がどんどん広まってしまいバジャウ族のメインの仕事である漁業が出来なくなってしまいました。<br>現在は多くのバジャウ族が陸地に家を建てて暮らしていて、船の上で生活しているバジャウ族はほとんどいません。</p>
</div>
<div class="white">
   <h2>Life Of Badjao</h2>
</div>
<div class="content2">
  <div class="text-box">
   <p>松田大夢</p>
   <h2>バジャウ族と共存する<br>唯一の日本人</h2>
   <a class="btn content2-btn" href="/hiromu">詳細を見る</a>
  </div>
</div>
<div class="content3">
  <div class="text-box">
    <p>バジャウ族ツアー</p>
    <h2>日本では味わえない<br>非日常の体験を</h2>
    <a class="btn content3-btn" href="/tour">詳細を見る</a>
  </div>
</div>
<div class="content4">
  <div class="text-box">
    <p>ギャラリー</p>
    <h2>バジャウ族の日常<br>写真を見る</h2>
    <a class="btn content4-btn" href="/gallery">詳細を見る</a>
  </div>
</div>
<div class="content5">
  <div class="text-box">
    <p>アクセス</p>
    <h2>村に遊ぶに行く<br>連絡する</h2>
    <a class="btn content5-btn" href="/access">詳細を見る</a>
  </div>
</div>
<div class="scroll-top-main">
     <img src="assets/icon_arrow_41547-300x300.png">
</div>