
  <header class="sub-header">
    <div class="base">
      <div class="list">
      <ul>
        <li><a href="/mains">Top</a></li>
        <li><a href="/hiromu">Hiromu</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/access">Access</a></li>
      </ul>
      </div>
    </div>
  </header>
  <div class="hiromu-top">
    <div class="text-box">
        <p>松田大夢</p>
        <h2>バジャウ族と共存する<br>唯一の日本人</h2>
    </div>
  </div>
  <div class="hiromu-main">
    <div class="content-1">
      <p class="hiromu-img">
        <img src="assets/D7GOz9VUcAEBjIh.jpg">
      </p>
      <div class="text-content">
      <h2>松田大夢</h2>
      <p>新潟県村上市で産まれ、佐渡島の祖父母のもとで高校生活を過ごす。<br>卒業式の3日前に高校を退学し、様々な場所を当ても無く放浪しているうちに<br>フィリピンのセブ島にてバジャウ族と出会う。<br>現在はバジャウ族の村に3階建ての自宅兼ゲストハウスを建てて暮らしている。<br>子供の頃の将来の夢は<br>「ピグミー族になって楽器を作ったり生き物を狩猟して生活すること」</p>
      </div>
    </div>
    <div class="content-2">
      <p class="hiromu-img">
      <img src="assets/43298247_335228753910400_7245019021240696832_n.jpg">
       <img src="assets/60784797_1958701497575324_214416046000439296_o.jpg">
      </p>
      <div class="text-content">
       <h2>家族</h2>
      <p>2016年にバジャウ族の女性シャイマと結婚し2018年に息子のホシ君が誕生。<br>シャイマとは出会って2ヶ月で結婚を決意し、結婚資金は自身のブログで調達した。<br>息子の名前[ホシ]は奥さんのシャイマが提案。由来は日本語の[星]<br>奥さんと息子に加え、インターンや宿泊者など常に数人の日本人と<br>ペットでロットワイヤーのぺヤングとカニクイザルのマシマシが<br>彼と一緒に生活している。</p>
      </div>
    </div>
    <div class="content-3">
      <p class="hiromu-img">
        <img src="assets/D52lcEeU0AEXL5J.jpg">
      </p>
      <div class="text-content">
      <h2>ゲストハウス</h2>
      <p>自宅はゲストハウスの役割も担っており誰でも宿泊が可能。<br>現在あるゲストハウスは2018年に建てられた2軒目で<br>1軒目のゲストハウスは土台の木が折れて1階部分が完全に海に沈んだ<br>建設はバジャウ族の大工数名と松田大夢本人に加え<br>建設当時に村を訪れていた日本人が行なった。</p>
      </div>
    </div>
    <div class="scroll-top">
     <img src="assets/icon_arrow_41547-300x300.png">
    </div>
  </div>
